body > header {
  width: 100%;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c405f;
  color: #fff;
}

header img {
  width: 70px;
}

header h1 {
  padding-left: 200px;
}

nav {
  display: flex;
}

nav .nav-item {
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.3s;
}

nav .nav-item:hover {
  filter: brightness(50%);
}

body > main {
  width: 100%;
  max-width: 1300px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
}

#gameSection {
  padding: 10px 0 30px 0;
  background-color: #f2f2f2;
}

#gameSection header > div {
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#gameSection header > div > div {
  border: 1px solid #3c405f;
  border-radius: 4px;
  margin-right: 10px;
  padding: 8px;
  color: #3c405f;
  font-size: 18px;
}

#gameSection #boardSizeChooser {
  margin-top: 20px;
  padding-left: 20px;
}

#gameSection #boardSizeChooser .inputRadioBlock {
  margin: 0 5px 10px 5px;
}

#gameSection #boardSizeChooser .inputRadioBlock input {
  margin-right: 5px;
}

#gameSection #boardSizeChooser .inputRadioBlock label {
  color: #3c405f;
  font-weight: bold;
  font-size: 18px;
}

#gameSection #boardSizeChooser p {
  padding: 20px 0 0 5px;
  color: #3c405f;
  font-weight: bold;
  font-size: 18px;
}

#gameSection footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#gameSection footer button {
  width: 200px;
  height: 42px;
  margin-top: 10px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: #3c405f;
  transition: filter 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameSection footer button:hover {
  filter: brightness(70%);
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer canvas {
  margin-top: 20px;
  border: 7px solid black;
  height: 400px;
  width: 200px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}
.gameContainer .smallBoard {
  height: 400px;
  width: 200px;
}
.gameContainer .bigBoard {
  height: 600px;
  width: 300px;
}

#tableSection table {
  box-shadow: 10px 6px 6px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  border-radius: 8px;
  margin: 30px 0;
  width: 100%;
}

#tableSection table thead {
  background-color: #f2f2f2;
}

#tableSection table thead th {
  text-align: left;
  color: #3c405f;
  padding: 26px 13px 13px 30px;
}

#tableSection table tbody tr {
  color: #414449;
}

#tableSection table tbody tr h4 {
  margin-bottom: 5px;
}

#tableSection table tbody tr td {
  min-width: 120px;
  padding: 30px;
  line-height: 28px;
}

#tableSection table tbody tr td ul {
  list-style: none;
}

#tableSection table tbody tr td ul:not(:last-child) {
  margin-bottom: 30px;
}

#tableSection table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tableSection table tbody tr:nth-child(odd) {
  background-color: #fff;
}
