<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Rolling Tetris</title>
  </head>

  <body>
    <canvas id="screen"></canvas>

    <br />
    Tempo do jogo :
    <span id="gameTime">0</span>s
    <br />
    Dificuldade :
    <span id="difficulty">Inicial</span>
    <br />
    Pontuação :
    <span id="currentScore"></span>
    <br />
    Linhas :
    <span id="clearedLines"></span>
    <br />

    <script type="module">
      import createGame from './game.js';
      import createKeyboardListener from './keyboardListener.js';
      import createRenderScreen from './renderScreen.js';

      const screen = document.getElementById('screen');
      const gameTime = document.getElementById('gameTime');
      const currentScore = document.getElementById('currentScore');
      const clearedLines = document.getElementById('clearedLines');
      const difficulty = document.getElementById('difficulty');

      const board = {
        small: {
          height: 20,
          width: 10
        },
        big: {
          height: 44,
          width: 22
        }
      };

      const game = createGame(board.small.height, board.small.width);
      let canvas = document.getElementById('screen');
      canvas.height = board.small.height;
      canvas.width = board.small.width;

      game.start();

      const keyboardListener = createKeyboardListener(document);
      keyboardListener.subscribe(game.moveTetrimino);

      const renderScreen = createRenderScreen(
        screen,
        game,
        requestAnimationFrame,
        currentScore,
        clearedLines,
        difficulty,
        gameTime
      );

      game.subscribe(renderScreen.updateGameStatus);
    </script>
  </body>
</html>
