*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

header{
    background-color: aliceblue;
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
}

nav{
    background-color: #d0e8ef;
    text-align: right;
    padding: 10px 0 10px 0;
}

nav .nav-item{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}
nav .nav-item:hover{
    cursor: pointer;
}

section{
    padding-top: 40px;
    text-align: center;
}

#game-container{
    float: left;
    padding: 0 0 20px 0;
    background-color: #eee;
}
#game-info{
    padding: 10px;
    display: inline-block;
}

#game-info div{
    display: inline-block;
    border: #ccc solid 2px;
    padding: 10px;
}

#ranking{
    display: inline-block;
    border: #ccc solid 1px;
}

.wrapper{
    width: fit-content;
    margin: auto;
}